body {
    margin: 0;
}

header {
    position: relative;
    width: 100%;
}

.hero_new__video{
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}

nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.logo-img {
    height: 60px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}
ul > li {
    padding: 0 20px;
}

.signInButton {
    background-color: red;
    color: black;
    font-weight: bold;
    height: 20px;
    padding: 2px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
}

